src/main/xsd/nsi-topology.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://schemas.es.net/nsi/2013/07/topology/types"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:sd="http://schemas.ogf.org/nsi/2013/12/services/definition"
    xmlns:nsa="http://schemas.ogf.org/nsi/2014/02/discovery/nsa"
    xmlns:xcard="urn:ietf:params:xml:ns:vcard-4.0"
    xmlns:tns="http://schemas.es.net/nsi/2013/07/topology/types">
    
    <xsd:import namespace="http://schemas.ogf.org/nsi/2013/12/services/definition"
        schemaLocation="ogf_nsi_services_definition_v2_0.xsd"/>
    
    <xsd:import namespace="http://schemas.ogf.org/nsi/2014/02/discovery/nsa"
        schemaLocation="ogf_nsi_discovery_nsa_v1_0.xsd"/>
    
    <xsd:import namespace="urn:ietf:params:xml:ns:vcard-4.0" schemaLocation="xCard.xsd"/>
    
    <xsd:element name="stp"               type="tns:StpType" />    
    <xsd:element name="sdp"               type="tns:SdpType" />
    <xsd:element name="serviceAdaptation" type="tns:ServiceAdaptationType" />
    <xsd:element name="serviceDomain"     type="tns:ServiceDomainType" />
    <xsd:element name="service"           type="tns:ServiceType" />
    <xsd:element name="network"           type="tns:NetworkType" />
    <xsd:element name="nsa"               type="tns:NsaType" />
    <xsd:element name="collection"        type="tns:CollectionType" />

    <xsd:complexType name="CollectionType">
        <xsd:sequence>
            <xsd:element ref="tns:stp" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="tns:sdp" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="tns:serviceAdaptation" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="tns:serviceDomain" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="tns:service" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="tns:network" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="tns:nsa" minOccurs="0" maxOccurs="unbounded" />
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="discovered" use="required" type="xsd:dateTime" />
        <xsd:anyAttribute namespace="##other" processContents="lax" />
    </xsd:complexType>
    
    <xsd:complexType name="NsiResourceType">
        <xsd:attribute    name="id"         type="xsd:anyURI"    use="optional"/>
        <xsd:attribute    name="name"       type="xsd:string"    use="optional"/>
        <xsd:attribute    name="version"    type="xsd:dateTime"  use="optional"/>
        <xsd:attribute    name="discovered" type="xsd:dateTime"  use="optional"/>
        <xsd:attribute    name="href"       type="xsd:anyURI"    use="optional"/>
        <xsd:anyAttribute namespace="##other" processContents="lax" />
    </xsd:complexType>

    <xsd:complexType name="StpType">
        <xsd:complexContent>
            <xsd:extension  base="tns:NsiResourceType">
                <xsd:sequence>
                    <xsd:element name="networkId"     type="xsd:anyURI" />
                    <xsd:element name="localId"       type="xsd:anyURI" />
                    <xsd:element name="label"         type="tns:TypeValueType" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="inboundStp"    type="tns:ResourceRefType" minOccurs="0" />
                    <xsd:element name="outboundStp"   type="tns:ResourceRefType" minOccurs="0" />
                    <xsd:element name="connectedTo"   type="xsd:anyURI" minOccurs="0" />
                    <xsd:element name="network"       type="tns:ResourceRefType" minOccurs="0" />
                    <xsd:element name="serviceDomain" type="tns:ResourceRefType" minOccurs="0" />
                    <xsd:element name="property"      type="tns:TypeValueType" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
                <xsd:attribute name="type" type="tns:StpDirectionalityType" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="SdpType">
        <xsd:complexContent>
            <xsd:extension  base="tns:NsiResourceType">
                <xsd:sequence>
                    <xsd:element name="demarcationA"  type="tns:DemarcationType" />
                    <xsd:element name="demarcationZ"  type="tns:DemarcationType" />
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
                <xsd:attribute name="type" type="tns:SdpDirectionalityType" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="DemarcationType">
        <xsd:sequence>
            <xsd:element name="stp"           type="tns:ResourceRefType" />
            <xsd:element name="serviceDomain" type="tns:ResourceRefType" />
            <xsd:element name="network"       type="tns:ResourceRefType" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ServiceAdaptationType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                An Adaptation provides the ability to create connections using
                STP of different Service Types.  Adaptations are used to connect
                two Transfer Functions together allowing a path finder to
                determine if it was possible to “enter” an STP in one Transfer
                Function and “exit” an STP on a different Transfer Function.
                
                An Adaptation is defined through a Service Definition
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension  base="tns:NsiResourceType">
                <xsd:sequence>
                    <xsd:element name="network"             type="tns:ResourceRefType" minOccurs="1" />
                    <xsd:element name="service"             type="tns:ResourceRefType" minOccurs="1" />
                    <xsd:element name="fromServiceDomain"   type="tns:ResourceRefType" minOccurs="1" maxOccurs="unbounded" />
                    <xsd:element name="toServiceDomain"     type="tns:ResourceRefType" minOccurs="1" maxOccurs="unbounded" />
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
                <xsd:attribute name="type" type="tns:AdaptationDirectionalityType" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="ServiceDomainType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Transfer Functions contain a set of STP of the same Service Type
                that are capable of being interconnected without restriction.
                
                
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension  base="tns:NsiResourceType">
                <xsd:sequence>
                    <xsd:element name="network"          type="tns:ResourceRefType" />
                    <xsd:element name="service"          type="tns:ResourceRefType" />
                    <xsd:element name="inboundStp"       type="tns:ResourceRefType" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="outboundStp"      type="tns:ResourceRefType" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="bidirectionalStp" type="tns:ResourceRefType" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="ServiceType">
        <xsd:complexContent>
            <xsd:extension  base="tns:NsiResourceType">
                <xsd:sequence>
                    <xsd:element name="network" type="tns:ResourceRefType" minOccurs="1" />
                    <xsd:element ref="sd:serviceDefinition" minOccurs="1" />
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
                <xsd:attribute name="type" type="xsd:anyURI" use="required"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="NetworkType">
        <xsd:complexContent>
            <xsd:extension  base="tns:NsiResourceType">
                <xsd:sequence>
                    <xsd:element name="nsa"               type="tns:ResourceRefType" minOccurs="1" />
                    <xsd:element name="service"           type="tns:ResourceRefType" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="serviceDomain"     type="tns:ResourceRefType" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="serviceAdaptation" type="tns:ResourceRefType" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="stp"               type="tns:ResourceRefType" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>   
    
    <xsd:complexType name="NsaType">
        <xsd:complexContent>
            <xsd:extension  base="tns:NsiResourceType">
                <xsd:sequence>
                    <xsd:element name="softwareVersion" type="xsd:string"          minOccurs="0" />
                    <xsd:element name="startTime"       type="xsd:dateTime"        minOccurs="0" />
                    <xsd:element name="location"        type="nsa:LocationType"    minOccurs="0" />
                    <xsd:element name="adminContact"    type="xcard:VcardsType"    minOccurs="0" />
                    <xsd:element name="network"         type="tns:ResourceRefType" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="interface"       type="nsa:InterfaceType"   minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="feature"         type="nsa:FeatureType"     minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="peersWith"       type="xsd:anyURI"          minOccurs="0" maxOccurs="unbounded" />
                    <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="ResourceRefType">
        <xsd:attribute name="id"   type="xsd:anyURI" />
        <xsd:attribute name="href" type="xsd:anyURI" />
        <xsd:attribute name="type" type="xsd:anyURI" use="optional"/>
    </xsd:complexType>
    
    <xsd:complexType name="TypeValueType">
        <xsd:simpleContent>
            <xsd:extension  base="xsd:string">
                <xsd:attribute  name="type"  type="xsd:anyURI"  use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="StpDirectionalityType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration  value="Inbound"/>
            <xsd:enumeration  value="Outbound"/>
            <xsd:enumeration  value="Bidirectional"/>
            <xsd:enumeration  value="Undefined"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="SdpDirectionalityType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration  value="Unidirectional"/>
            <xsd:enumeration  value="Bidirectional"/>
            <xsd:enumeration  value="Undefined"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="AdaptationDirectionalityType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration  value="Unidirectional"/>
            <xsd:enumeration  value="Bidirectional"/>
            <xsd:enumeration  value="Undefined"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
